/* navigation stuff starts here*/
nav {
	background-color: rgb(181, 24, 24);
	overflow: hidden;
	width: 100%;
	text-align: center;

}

nav a {
	color: white;
	display: inline-block;
	padding: 25px 38px;
	text-decoration: none;
	font-size: 33px;

	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

nav a:hover{
	background-color: rgb(176, 141, 141);
}

.titlepic{
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 200px;
	width: 300px;
	background-color: black;
	border-radius: 3px;
}

/* navigation stuff ends here*/

html{
	background-color: rgb(102, 0, 0);
}

.content{
	background-color: rgb(237, 225, 225);
	margin-left: 150px;
	margin-right: 150px;
	font-size: 20px;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	overflow: hidden;
	position: relative;
}

#ron{
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 300px;
}

img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 300px;
}


h5{
	text-align: center;
	font-size: 15px;
}

.wkwx{
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 250px;
}

p {
	margin-left: 75px;
	margin-right: 75px;
	font-size: 23px;
	position: relative;
}

h2 {
	margin: 15px;
}

h3{
	margin-left: 100px;
}

h4{
	margin: 15px;
}

strong {
	margin: 20px;
}

audio{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.titletext{
	text-align: center;
}

.flex-container{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around; /* i have no clue why first 2 are off center*/
	align-items: center;
}

.flex-item{
	padding: 25px;
	margin: auto;
}

#ldbanner{
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 275px;
}

.ytbanner{
	height: 300px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 350px;
	border: 3px solid black;
}

img{
	height: 250px;
}

.embolden{
	color: rgb(130, 27, 27)
}

strong{
	margin-left: 75px;
}

.debug{
	text-decoration: none;
	color: rgb(230, 223, 223);
}



.nav2{
	background-color: rgb(0, 0, 230);
	overflow: hidden;
	width: 100%;
	text-align: center;
}

.nav2 a{
	color: white;
	display: inline-block;
	padding: 25px 38px;
	text-decoration: none;
	font-size: 33px;

	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.nav2 a:hover{
	background-color: rgb(0, 153, 0);
}

