nav {
	background-color: maroon;
	overflow: hidden;
	width: 100%;
	text-align: center;

}

nav a {
	color: white;
	display: inline-block;
	padding: 15px 15px;
	text-decoration: none;
	font-size: 25px;

	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

nav a:hover{
	background-color: gray;
}

.titlepic{
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 200px;
	width: 300px;
	background-color: black;
	border-radius: 3px;
}

html{
	background-color: rgb(74, 13, 13);
}

.content{
	background-color: rgb(212, 195, 193);
	margin-left: 200px;
	margin-right: 200px;
	font-size: 20px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	overflow: hidden;
}

.ron{
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 175px;
}

h5{
	text-align: center;
	font-size: 15px;
}

.wkwx{
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 175px;
}

p {
	margin: 20px;
}

h2 {
	margin: 15px;
}

h3{
	margin: 20px;
}

strong {
	margin: 20px;
}

audio{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.titletext{
	text-align: center;
}